version: '3.8'

services:
  uniselec-selecoes:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VERSION: "1.0.0"
        COMMIT_SHA: "${COMMIT_SHA}"
    container_name: uniselec-selecoes
    ports:
      - "8088:80"
    environment:
      NODE_ENV: production
    restart: unless-stopped
