apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Define o namespace para todos os recursos
namespace: uniselec-selecoes-prd

resources:
- ../../base
- namespace.yaml

patches:
- path: patch-deployment.yaml
- path: patch-ingress.yaml

# CRÍTICO: Image tag será atualizada dinamicamente pela pipeline
# A pipeline usará: kustomize edit set image para substituir a tag
# Exemplo: kustomize edit set image dti-registro.unilab.edu.br/unilab/uniselec-selecoes:v1.0.10
images:
- name: dti-registro.unilab.edu.br/unilab/uniselec-selecoes
  newTag: v1.0.1
